.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    margin: 2%;
    background-color: var(--color-white);
    border: solid 0.1rem var(--color-black);
    border-radius: 0.2rem;
    font-family: var(--monospaced-font);
    font-size: 1.2rem;
    transition: transform 0.2s;
}

.calculator-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.calculator-button.-operator,
.calculator-button.-point,
.calculator-button.-comma {
    background-color: var(--color-second);
    color: var(--color-white);
}

.calculator-button.-enter {
    width: calc(150px + 4%);
}

.calculator-button.-zero {
    width: calc(150px + 4%);
}