.main-form {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: var(--color-third);
    border-radius: 0.2rem;    
}